/* LINK COLOR */

/* Natural Colors */
.link--black a        { color: var(--black); }
.link--near-black a   { color: var(--near-black); }
.link--dark-gray a    { color: var(--dark-gray); }
.link--mid-gray a     { color: var(--mid-gray); }
.link--gray a         { color: var(--gray); }
.link--silver a       { color: var(--silver); }
.link--light-silver a { color: var(--light-silver); }
.link--moon-gray a    { color: var(--moon-gray); }
.link--light-gray a   { color: var(--light-gray); }
.link--near-white a   { color: var(--near-white); }
.link--white a        { color: var(--white); }

.link--black-10 a  { color: var(--black-10); }
.link--black-20 a  { color: var(--black-20); }
.link--black-30 a  { color: var(--black-30); }
.link--black-40 a  { color: var(--black-40); }
.link--black-50 a  { color: var(--black-50); }
.link--black-60 a  { color: var(--black-60); }
.link--black-70 a  { color: var(--black-70); }
.link--black-80 a  { color: var(--black-80); }
.link--black-90 a  { color: var(--black-90); }

.link--white-10 a  { color: var(--white-10); }
.link--white-20 a  { color: var(--white-20); }
.link--white-30 a  { color: var(--white-30); }
.link--white-40 a  { color: var(--white-40); }
.link--white-50 a  { color: var(--white-50); }
.link--white-60 a  { color: var(--white-60); }
.link--white-70 a  { color: var(--white-70); }
.link--white-80 a  { color: var(--white-80); }
.link--white-90 a  { color: var(--white-90); }

/* Custom Colors */
.link--scala-0 a { color: var(--scala-0); }
.link--scala-1 a { color: var(--scala-1); }
.link--scala-2 a { color: var(--scala-2); }
.link--scala-3 a { color: var(--scala-3); }
.link--scala-4 a { color: var(--scala-4); }
.link--scala-5 a { color: var(--scala-5); }
.link--scala-6 a { color: var(--scala-6); }
.link--scala-7 a { color: var(--scala-7); }
.link--scala-8 a { color: var(--scala-8); }
.link--scala-9 a { color: var(--scala-9); }

/* Colors */
.link--dark-red a      { color: var(--dark-red); }
.link--red a           { color: var(--red); }
.link--light-red a     { color: var(--light-red); }
.link--orange a        { color: var(--orange); }
.link--gold a          { color: var(--gold); }
.link--yellow a        { color: var(--yellow); }
.link--light-yellow a  { color: var(--light-yellow); }
.link--purple a        { color: var(--purple); }
.link--light-purple a  { color: var(--light-purple); }
.link--dark-pink a     { color: var(--dark-pink); }
.link--hot-pink a      { color: var(--hot-pink); }
.link--pink a          { color: var(--pink); }
.link--light-pink a    { color: var(--light-pink); }
.link--dark-green a    { color: var(--dark-green); }
.link--green a         { color: var(--green); }
.link--light-green a   { color: var(--light-green); }
.link--navy a          { color: var(--navy); }
.link--dark-blue a     { color: var(--dark-blue); }
.link--blue a          { color: var(--blue); }
.link--light-blue a    { color: var(--light-blue); }
.link--lightest-blue a { color: var(--lightest-blue); }
.link--washed-blue a   { color: var(--washed-blue); }
.link--washed-green a  { color: var(--washed-green); }
.link--washed-yellow a { color: var(--washed-yellow); }
.link--washed-red a    { color: var(--washed-red); }
