/*

   MAX WIDTHS
   Docs: http://tachyons.io/docs/layout/max-widths/

   Base:
     mw = max-width

   Modifiers
     9 = 9th step in width scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Max Width Percentages */

/* Max Width Scale */
.mw9  {  max-width: 75rem; }

/* Max Width String Properties */

@media (--breakpoint-not-small) {
  .mw9-ns  {  max-width: 75rem; }
}

@media (--breakpoint-medium) {
  .mw9-m  {  max-width: 75rem; }
}

@media (--breakpoint-large) {
  .mw9-l  {  max-width: 75rem; }
}
