.hover-bg-scala-0:hover,
.hover-bg-scala-0:focus { background-color: var(--scala-0); }
.hover-bg-scala-1:hover,
.hover-bg-scala-1:focus { background-color: var(--scala-1); }
.hover-bg-scala-2:hover,
.hover-bg-scala-2:focus { background-color: var(--scala-2); }
.hover-bg-scala-3:hover,
.hover-bg-scala-3:focus { background-color: var(--scala-3); }
.hover-bg-scala-4:hover,
.hover-bg-scala-4:focus { background-color: var(--scala-4); }
.hover-bg-scala-5:hover,
.hover-bg-scala-5:focus { background-color: var(--scala-5); }
.hover-bg-scala-6:hover,
.hover-bg-scala-6:focus { background-color: var(--scala-6); }
.hover-bg-scala-7:hover,
.hover-bg-scala-7:focus { background-color: var(--scala-7); }
.hover-bg-scala-8:hover,
.hover-bg-scala-8:focus { background-color: var(--scala-8); }
.hover-bg-scala-9:hover,
.hover-bg-scala-9:focus { background-color: var(--scala-9); }
