@media (--breakpoint-not-small) {
  .bg-transparent-ns { background-color: var(--transparent); }
}

@media (--breakpoint-medium) {
  .bg-transparent-m { background-color: var(--transparent); }
}

@media (--breakpoint-large) {
  .bg-transparent-l { background-color: var(--transparent); }
}
