 .masonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;
}
/*.masonry .m-item {
  width: 25%;
  height: 330px;
  transition: .8s opacity;
}*/

/* fallback for earlier versions of Firefox */
/*@supports not (flex-wrap: wrap) {
  .masonry { display: block; }
  .masonry .m-item {
    display: inline-block;
    vertical-align: top;
  }
}*/
