

/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

/* Insert your own styles in here! */

h1 span {
    color:white;
    /* background-color: grey; */
    
    /* border-bottom: 3px solid #ed174c; */
    text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #ed174c;

}

h3 {
  text-decoration: none;
  /* border-bottom: 3px solid #ed174c; */
  font-size: 30px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #ed174c;
}

h2 {
  text-decoration: none;
  /* border-bottom: 3px solid #ed174c; */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #ed174c;
}




