

/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

/* Insert your own styles in here! */

h1 span {
    color:white;
    /* background-color: grey; */
    text-shadow: 4px 3px #00529f;
    border-bottom: 3px solid #ed174c;

}

h3 {
  text-decoration: none;
  border-bottom: 3px solid #ed174c;
  font-size: 30px
}

h2 {
  text-decoration: none;
  border-bottom: 3px solid #ed174c;
}




