/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

/* Insert your own styles in here! */




h1 {
  text-decoration: none;
  color: #446390;
  /* border-bottom: 3px solid #ed174c; */
  font-size: 30px;
  /* text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #ed174c;  */
  text-shadow: 4px 4px rgb(231, 224, 224);
}

h1 span {
  color: white;
  /* background-color: grey; */
  text-shadow: 4px 3px #3a65a5;


  /* border-bottom: 3px solid #ed174c; */
}

h3 {
  text-decoration: none;
  /* border-bottom: 3px solid #ed174c; */
  color: #446390;
  font-size: 60px;
  /* text-decoration-line: underline; */
  text-decoration-style: solid;
  text-shadow: 4px 4px rgb(231, 224, 224);
  /* text-decoration-color: #ed174c; */
}

h2 {
  text-decoration: none;
  /* border-bottom: 3px solid #ed174c; */
  color: #446390;
  /* text-decoration-line: underline; */
  text-decoration-style: solid;
  /* text-decoration-color: #ed174c; */
  text-shadow: 4px 4px rgb(231, 224, 224);
}